[build]
  publish = "."

[[redirects]]
  from = "/"
  to = "/infografico_auditoria.html"
  status = 200

[[redirects]]
  from = "/*"
  to = "/infografico_auditoria.html"
  status = 404

[[headers]]
  for = "/*"
  [headers.values]
    X-Frame-Options = "DENY"
    X-Content-Type-Options = "nosniff"
    Referrer-Policy = "no-referrer-when-downgrade"
